@media (min-width: 576px) {

    body {
        display: flex;
    }

    .intro {
        min-height: 100vh;
    }
    

    .intro,
    main {
        width: 50%;
    }

    h1 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 2.625rem;
    }

    .intro .top-text {
        font-size: 1.125rem;
    }

    .intro .bottom-text {
        font-size: 1.25rem;
    }
}