* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    width: 100vw;
}

.intro {
    background-color: #9480e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.intro .top-text {
    margin: 0;
    border-top: 6px solid white;
    padding-top: 0.5em;
    font-weight: 800;
    font-size: 0.8rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow: 0 4px 4px rgba(0,0,0, 0.2);
}

strong {
    font-weight: 800;
}

.intro .bottom-text {
    font-weight: 800;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}

main {
    background: lightgreen;
}

.avatar {
    border-radius: 50%;
    width: 120px;
}

input {
    display: block;
}